* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	background-color: #1790d4;
}
.main-nav {
	background-color: #2d3f50;
	display: block;
	position: relative;

}

.main-nav .site-name {
	background-color: #2d3f50;
	width: 100%;
	max-width: 10rem;
	height: 3rem;
	padding: 1rem;
}

.main-nav .site-name > a {
	display: block;
	color: white;
	text-align: left;
	width: 100px;
	margin-left: auto;
	margin-right: auto;

}

.main-nav ul {
	list-style: none;
	display: inline-block;
	background-color: #2d3f50;
	text-align: right;
	position: absolute;
	right: 0;
	top: 0;
	height: 3rem;

}

.main-nav > ul > li {
	display: inline-block;
	padding: 1rem;

}

.main-nav > ul > li > a {
	color: #6dbceb;
	text-align: center;

}

.main-nav > ul > li > a.active {
	color: white;

}
.main-content > h1 {
	text-align: center;
	max-width: 30%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: 15%;
	border: 2px solid white;
	padding: 2rem;
	color: white;
	border-radius: 5px;
	font-weight: 200;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto', sans-serif;
	letter-spacing: .1rem;
	opacity: .8;
}

.main-content > p {
	text-align: center;
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto', sans-serif;
	letter-spacing: .02rem;
	opacity: .8;
}

.main-content > button {
	text-align: center;
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	display: block;
	background-color: white;
	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	border: 0;
	border-radius: 5px;
	color: #5fa4ce;
}